<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小小书屋</title>


    <link href="/style/main_page.css" rel="stylesheet">
    <script src="/scripts/insert-cart.js" defer></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="logo"><a href="/">小小书屋</a></li>
            <li><a href="/page/classify">分类</a></li>
            <li><a href="/page/bill">订单</a></li>
            <li><a href="/page/cart">购物车</a></li>
            <li class="account"><a href="/page/profile" th:text="${uid == null ? '登录' : uid }"></a></li>
            <li class="search">
                <form action="/page/search" method="get">
                    <input id="search-input" type="text" placeholder="搜索书籍..." name="info"/>
                    <input id="search-button" type="submit" value="搜索"/>
                </form>
            </li>
            <li class="manage" th:if="${grade == 'admin'}"><a href="/page/management">管理网站</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="banner">
        <h1>欢迎来到小小书屋</h1>
        <p>探索各种书籍，找到你喜欢的阅读内容！</p>
    </section>

    <section class="book-list">
        <h2>畅销图书</h2>

        <div class="books">
            <div th:if="${#lists.isEmpty(books)}">
                <p>未找到相关书籍</p>
            </div>
            <div class="book" th:each="book : ${books}">
                <a th:href="'/page/info'+'?'+'bookid='+${book.bookid}">
                    <img class="book-image" th:src="@{/images/book/{bookname}.png(bookname=${book.bookname})}" th:alt="${book.bookname}">
                    <h3 th:text="${book.bookname}">Book Title</h3>
                </a>
                <p th:text="'作者: ' + ${book.author}">Author Name</p>
                <p th:if="${book.available==0}" style="color: darkred">停售！</p>
                <p th:if="${book.available==1}" class="price" th:text="'￥' + ${book.price/100} + '.' + ${book.price%100}">Price</p>
                <button class="insert-to-cart" th:data-bookid="${book.bookid}">加入购物车</button>
            </div>

        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 小小书屋 | 仅供学习测试使用</p>
</footer>
</body>
</html>